# .gitlab-ci.yml for OpenTPS

stages:
  - build
  - setup
  - test_core
  - test_gui
  - unittest_core
  - docs

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE/opentps
  IMAGE_TAG: latest

build:
  stage: build
  image: gcr.io/kaniko-project/executor:latest
  variables:
    DOCKER_CONFIG: /kaniko/.docker/
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $IMAGE_NAME:$IMAGE_TAG
  rules:
    - changes:
        - Dockerfile
        - "**/*.toml"
        - "**/*.lock"
        - .gitlab-ci.yml
      when: always

default:
  image: $IMAGE_NAME:$IMAGE_TAG

# ------------------------
# Tests
# ------------------------
test_core:
  stage: test_core
  needs:
    - job: build
      optional: true
  script:
    - cd $CI_PROJECT_DIR
    - python CI/tests.py

test_gui:
  stage: test_gui
  needs:
    - job: build
      optional: true
  script:
    - pip show SimpleITK  # For debugging
    - pip show vtk  # For debugging
    - export QT_QPA_PLATFORM=offscreen
    - |
      set +e
      python -m unittest discover opentps_gui/opentps/gui 
      code=$?
      set -e
      [ $code -eq 0 ] || [ $code -eq 5 ]

unittest_core:
  stage: unittest_core
  needs:
    - job: build
      optional: true
  script:
    - cd $CI_PROJECT_DIR/opentps_core
    - touch opentps/__init__.py __init__.py
    - python -m unittest discover -s ./opentps -p '[!example]*.py' -v

docs:
  stage: docs
  needs:
    - job: build
      optional: true
  script:
    - pip install sphinx sphinx-rtd-theme
    - cd docs
    - make html
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH