# .gitlab-ci.yml for OpenTPS

stages:
  - setup
  - test_core
  - test_gui
  - unittest_core
  - build
  - docs

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE
  IMAGE_TAG: $CI_COMMIT_REF_NAME

# ------------------------
# Docker build and push
# ------------------------
build:
  stage: build
  script:
    - cd $CI_PROJECT_DIR
    - poetry install --no-root
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG
  rules:
    - changes:
        - Dockerfile
        - opentps_core/opentps/core/pyproject.toml
        - opentps_core/opentps/core/poetry.lock
        - opentps_gui/opentps/gui/poetry.lock
        - opentps_gui/opentps/gui/pyproject.toml
        - pyproject.toml
        - poetry.lock

default:
  image: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME

# ------------------------
# Core testing
# ------------------------
test_core:
  stage: test_core
  script:
    - cd $CI_PROJECT_DIR
    - python CI/tests.py

test_gui:
  stage: test_gui
  script:
    - cd $CI_PROJECT_DIR
    - export QT_QPA_PLATFORM=offscreen
    - python -m unittest discover opentps_gui/opentps/gui

unittest_core:
  stage: unittest_core
  script:
    - cd $CI_PROJECT_DIR/opentps_core
    - touch opentps/__init__.py __init__.py
    - python -m unittest discover -s ./opentps -p '[!example]*.py' -v


# ------------------------
# Docs
# ------------------------
docs:
  stage: docs
  script:
    - pip install sphinx sphinx-rtd-theme
    - cd docs
    - make html
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
