
*__pycache__
*.pyc
*~
README.sublime-workspace
/test_*
config.txt
*py.sw*
*.swp
docs/build
tests/*
scripts/
tests/
notebooks/
version.py
Perso/
waldoScripts/

opentps_core/opentps/core/Processing/DoseCalculation/MCsquare/BDL/UMCG_P1_v2_RangeShifter.txt
