# .gitlab-ci.yml for OpenTPS
# The line pip install -e . --no-deps updates the docker image with any change made to the code. It is repeated
# throughout the file because it is faster than relying on artifacts between jobs.
# It could be even enhanced by caching the pip cache folder.
# The version_check should also be replaced by a rebuild of the docker image if any dependency changes.

# If any change occurs in the pyproject.toml, poetry.lock files or the Dockerfile, the image needs to be rebuilt and
# pushed to the registry.

stages:
  - version_check
  - test_core
  - test_gui
  - unittest_core
  - docs

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE
  IMAGE_TAG: latest

default:
    image: $IMAGE_NAME:$IMAGE_TAG

version_check:
  stage: version_check
  before_script:
    - pip install -e . --no-deps
  script:
    - pip install toml
    - python CI/check_version.py  # This script compare installed versions to those in your .toml file
  rules:
    - changes:
        - Dockerfile
        - "**/*.toml"
        - "**/*.lock"
        - .gitlab-ci.yml
      when: always

test_core:
  stage: test_core
  needs:
    - job: version_check
      optional: true
  before_script:
    - pip install -e . --no-deps
  script:
    - python CI/tests.py

test_gui:
  stage: test_gui
  needs:
    - job: version_check
      optional: true
  before_script:
    - pip install -e . --no-deps
  script:
    - pip show SimpleITK
    - pip show vtk
    - export QT_DEBUG_PLUGINS=1
    - export QT_QPA_PLATFORM="offscreen"
    - python -c "from PyQt5 import QtWidgets; app = QtWidgets.QApplication([]); print('PyQt initialization successful')"
    - |
      set +e
      python -m unittest discover opentps_gui/opentps/gui
      code=$?
      set -e
      [ $code -eq 0 ] || [ $code -eq 5 ]

unittest_core:
  stage: unittest_core
  needs:
    - job: version_check
      optional: true
  before_script:
    - pip install -e . --no-deps
  script:
    - cd $CI_PROJECT_DIR/opentps_core
    - touch opentps/__init__.py __init__.py
    - python -m unittest discover -s ./opentps -p '*.py' -v

docs:
  stage: docs
  needs:
    - job: version_check
      optional: true
  before_script:
    - pip install -e . --no-deps
  script:
    - pip install sphinx sphinx-rtd-theme
    - cd docs
    - make html
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH