stages:
  - docker
  - build
  - test
  - docs

variables:
  IMAGE_NAME: $CI_REGISTRY_IMAGE
  IMAGE_TAG: $CI_COMMIT_REF_SLUG
  PYTHONPATH: "$CI_PROJECT_DIR/opentps/opentps_core:$CI_PROJECT_DIR/opentps/opentps_gui"

# ---------------------------
# 1. Build & push custom image
# ---------------------------
docker-build:
  stage: docker
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG
  rules:
    - changes:
        - opentps/pyproject.toml
        - opentps/poetry.lock
        - Dockerfile

# ---------------------------
# 2. Build wheels
# ---------------------------
build:
  stage: build
  image: $IMAGE_NAME:$IMAGE_TAG
  needs: ["docker-build"]
  script:
    - cd opentps && poetry build
  artifacts:
    paths:
      - opentps/dist/*.whl

# ---------------------------
# 3. Tests
# ---------------------------
test_core:
  stage: test
  image: $IMAGE_NAME:$IMAGE_TAG
  needs: ["docker-build"]
  script:
    - python CI/tests.py

test_gui:
  stage: test
  image: $IMAGE_NAME:$IMAGE_TAG
  needs: ["docker-build"]
  script:
    - export QT_QPA_PLATFORM=offscreen
    - python -m unittest discover opentps/opentps_gui/opentps/gui

unittest_core:
  stage: test
  image: $IMAGE_NAME:$IMAGE_TAG
  needs: ["docker-build"]
  script:
    - cd opentps/opentps_core
    - touch opentps/__init__.py __init__.py
    - python -m unittest discover -s ./opentps -p '[!example]*.py' -v

# ---------------------------
# 4. Docs
# ---------------------------
docs:
  stage: docs
  image: $IMAGE_NAME:$IMAGE_TAG
  needs: ["docker-build"]
  script:
    - pip install sphinx sphinx-rtd-theme
    - cd docs && make html
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH