*__pycache__
*.pyc
*~
README.sublime-workspace
/test_*
config.txt
*py.sw*
*.swp
docs/build
tests/*
scripts/
tests/
notebooks/
version.py
Perso/
waldoScripts/
testData/*
OpenTPS_venv/*
*.tps
*.blm
*.nrrd
*nii.gz
configureEnv.sh
*.dcm
*.csv
*.tif
*.pkl
*.p
*.svg
*.log
*.pdf
*.png
*.txt